In [1]:
import pandas as pd
import numpy as np

## **Coursera_courses**

In [14]:
coursera_courses_df = pd.read_csv('Data_Original/Coursera_courses.csv')
coursera_courses_df.drop_duplicates(inplace=True)
coursera_courses_df = coursera_courses_df.reset_index(drop=True)
coursera_courses_df.head()

,name,institution,course_url,course_id
0,Machine Learning,Stanford University,https://www.coursera.org/learn/machine-learning,machine-learning
1,Indigenous Canada,University of Alberta,https://www.coursera.org/learn/indigenous-canada,indigenous-canada
2,The Science of Well-Being,Yale University,https://www.coursera.org/learn/the-science-of-...,the-science-of-well-being
3,Technical Support Fundamentals,Google,https://www.coursera.org/learn/technical-suppo...,technical-support-fundamentals
4,Become a CBRS Certified Professional Installer...,Google - Spectrum Sharing,https://www.coursera.org/learn/google-cbrs-cpi...,google-cbrs-cpi-training

In [15]:
coursera_courses_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 623 entries, 0 to 622
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         623 non-null    object
 1   institution  623 non-null    object
 2   course_url   623 non-null    object
 3   course_id    623 non-null    object
dtypes: object(4)
memory usage: 19.6+ KB

In [16]:
coursera_courses_df['name'].unique().shape[0]

622

In [17]:
coursera_courses_df['name'].value_counts()

name
Introduction to Psychology                                                2
Machine Learning                                                          1
Career 911: Your Future Job in Medicine and Healthcare                    1
Introduction to Trading, Machine Learning & GCP                           1
Python Programming: A Concise Introduction                                1
                                                                         ..
Building Scalable Java Microservices with Spring Boot and Spring Cloud    1
Introduction to Forensic Science                                          1
Google Cloud Product Fundamentals                                         1
American Contract Law I                                                   1
A Crash Course in Data Science                                            1
Name: count, Length: 622, dtype: int64

In [18]:
coursera_courses_df[coursera_courses_df['name']=='Introduction to Psychology']

,name,institution,course_url,course_id
6,Introduction to Psychology,Yale University,https://www.coursera.org/learn/introduction-ps...,introduction-psychology
54,Introduction to Psychology,University of Toronto,https://www.coursera.org/learn/introduction-psych,introduction-psych

In [19]:
coursera_courses_df['institution'].unique().shape

(134,)

In [20]:
coursera_courses_df['course_id'].unique().shape

(623,)

In [23]:
coursera_courses_df.to_excel("Data_PowerBI/Coursera_courses.xlsx",index=False)

In [22]:
coursera_courses_df.to_csv("Data/Coursera_courses.csv",index=False)

## **Coursera_reviews**

In [24]:
# Cargamos, eliminamos duplicados y reseteamos los indices
coursera_reviews_df = pd.read_csv('Data_Original/Coursera_reviews.csv')
coursera_reviews_df.drop_duplicates(inplace=True)
coursera_reviews_df = coursera_reviews_df.reset_index(drop=True)

In [25]:
coursera_reviews_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 519947 entries, 0 to 519946
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   reviews       519886 non-null  object
 1   reviewers     519947 non-null  object
 2   date_reviews  519947 non-null  object
 3   rating        519947 non-null  int64
 4   course_id     519947 non-null  object
dtypes: int64(1), object(4)
memory usage: 19.8+ MB

In [26]:
print('Cantidad de diferentes reviwers: ',coursera_reviews_df['reviewers'].unique().shape[0])
print('Cantidad de diferentes ratings: ',coursera_reviews_df['rating'].unique().shape[0])
print('Cantidad de diferentes course_id: ',coursera_reviews_df['course_id'].unique().shape[0])

Cantidad de diferentes reviwers:  287808
Cantidad de diferentes ratings:  5
Cantidad de diferentes course_id:  604

In [28]:
coursera_reviews_df['rating'].unique()

array([4, 5, 1, 2, 3], dtype=int64)

In [29]:
coursera_reviews_df.to_excel("Data_PowerBI/Coursera_reviews.xlsx")

In [31]:
coursera_reviews_df.to_csv("Data/Coursera_reviews.csv",index=False)

Hacemos un cruce entre **coursera_courses_df** y **coursera_reviews_df** y lo llamaremos **coursera_courses_reviews**

In [35]:
coursera_courses_reviews_df = pd.merge(coursera_courses_df, coursera_reviews_df, on='course_id')

In [36]:
coursera_courses_reviews_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 519947 entries, 0 to 519946
Data columns (total 8 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   name          519947 non-null  object
 1   institution   519947 non-null  object
 2   course_url    519947 non-null  object
 3   course_id     519947 non-null  object
 4   reviews       519886 non-null  object
 5   reviewers     519947 non-null  object
 6   date_reviews  519947 non-null  object
 7   rating        519947 non-null  int64
dtypes: int64(1), object(7)
memory usage: 31.7+ MB

In [37]:
coursera_courses_reviews_df.to_csv("Data/coursera_courses_reviews.csv",index=False)

# **EDX**

In [2]:
edx_df = pd.read_csv('Data/edx_courses.csv')
edx_df.drop_duplicates(inplace=True)
edx_df = edx_df.reset_index(drop=True)
edx_df.head(3)

,title,summary,n_enrolled,course_type,institution,instructors,Level,subject,language,subtitles,course_effort,course_length,price,course_description,course_syllabus,course_url
0,How to Learn Online,Learn essential strategies for successful onli...,"124,980",Self-paced on your time,edX,Nina Huntemann-Robyn Belair-Ben Piscopo,Introductory,Education & Teacher Training,English,English,2–3 hours per week,2 Weeks,FREE-Add a Verified Certificate for $49 USD,"Designed for those who are new to elearning, t...",Welcome - We start with opportunities to meet ...,https://www.edx.org/course/how-to-learn-online
1,Programming for Everybody (Getting Started wit...,"This course is a ""no prerequisite"" introductio...","293,864",Self-paced on your time,The University of Michigan,Charles Severance,Introductory,Computer Science,English,English,2–4 hours per week,7 Weeks,FREE-Add a Verified Certificate for $49 USD,This course aims to teach everyone the basics ...,NaN,https://www.edx.org/course/programming-for-eve...
2,CS50's Introduction to Computer Science,An introduction to the intellectual enterprise...,"2,442,271",Self-paced on your time,Harvard University,David J. Malan-Doug Lloyd-Brian Yu,Introductory,Computer Science,English,English,6–18 hours per week,12 Weeks,FREE-Add a Verified Certificate for $90 USD,"This is CS50x , Harvard University's introduct...",NaN,https://www.edx.org/course/cs50s-introduction-...

In [3]:
edx_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 974 entries, 0 to 973
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   title               974 non-null    object
 1   summary             921 non-null    object
 2   n_enrolled          854 non-null    object
 3   course_type         974 non-null    object
 4   institution         974 non-null    object
 5   instructors         971 non-null    object
 6   Level               974 non-null    object
 7   subject             974 non-null    object
 8   language            974 non-null    object
 9   subtitles           971 non-null    object
 10  course_effort       974 non-null    object
 11  course_length       974 non-null    object
 12  price               974 non-null    object
 13  course_description  934 non-null    object
 14  course_syllabus     414 non-null    object
 15  course_url          974 non-null    object
dtypes: object(16)
memory usage: 121.9+ KB

In [4]:
print('Cantidad de diferentes institution : ',edx_df['institution'].unique().shape[0])
print('Cantidad de diferentes course_type: ',edx_df['course_type'].unique().shape[0])
print('Cantidad de diferentes level: ',edx_df['Level'].unique().shape[0])
print('Cantidad de diferentes language: ',edx_df['language'].unique().shape[0])
print('Cantidad de diferentes course_effort: ',edx_df['course_effort'].unique().shape[0])
print('Cantidad de diferentes course_length: ',edx_df['course_length'].unique().shape[0])
print('Cantidad de diferentes price: ',edx_df['price'].unique().shape[0])
print('Cantidad de diferentes n_enrolled: ',edx_df['n_enrolled'].unique().shape[0])
print('Cantidad de diferentes subject: ',edx_df['subject'].unique().shape[0])

Cantidad de diferentes institution :  111
Cantidad de diferentes course_type:  2
Cantidad de diferentes level:  3
Cantidad de diferentes language:  9
Cantidad de diferentes course_effort:  53
Cantidad de diferentes course_length:  18
Cantidad de diferentes price:  47
Cantidad de diferentes n_enrolled:  850
Cantidad de diferentes subject:  31

In [6]:
edx_df['course_type'].unique()

array(['Self-paced on your time', 'Instructor-led on a course schedule'],
      dtype=object)

In [5]:
edx_df.to_excel("Data_PowerBI/edx_courses.xlsx")

# **UDEMY**

In [2]:
udemy_df = pd.read_csv('Data/udemy_courses.csv')
udemy_df.drop_duplicates(inplace=True)
udemy_df.head(3)

,course_id,course_title,url,is_paid,price,num_subscribers,num_reviews,num_lectures,level,content_duration,published_timestamp,subject
0,1070968,Ultimate Investment Banking Course,https://www.udemy.com/ultimate-investment-bank...,True,200,2147,23,51,All Levels,1.5,2017-01-18T20:58:58Z,Business Finance
1,1113822,Complete GST Course & Certification - Grow You...,https://www.udemy.com/goods-and-services-tax/,True,75,2792,923,274,All Levels,39.0,2017-03-09T16:34:20Z,Business Finance
2,1006314,Financial Modeling for Business Analysts and C...,https://www.udemy.com/financial-modeling-for-b...,True,45,2174,74,51,Intermediate Level,2.5,2016-12-19T19:26:30Z,Business Finance

In [3]:
udemy_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3672 entries, 0 to 3677
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   course_id            3672 non-null   int64
 1   course_title         3672 non-null   object
 2   url                  3672 non-null   object
 3   is_paid              3672 non-null   bool
 4   price                3672 non-null   int64
 5   num_subscribers      3672 non-null   int64
 6   num_reviews          3672 non-null   int64
 7   num_lectures         3672 non-null   int64
 8   level                3672 non-null   object
 9   content_duration     3672 non-null   float64
 10  published_timestamp  3672 non-null   object
 11  subject              3672 non-null   object
dtypes: bool(1), float64(1), int64(5), object(5)
memory usage: 347.8+ KB

In [52]:
print(udemy_df['course_id'].unique().shape[0])
print(udemy_df['course_title'].unique().shape[0])
print(udemy_df['is_paid'].unique().shape[0])
print(udemy_df['price'].unique().shape[0])
print(udemy_df['num_subscribers'].unique().shape[0])
print(udemy_df['level'].unique().shape[0])
print(udemy_df['subject'].unique().shape[0])

3672
3663
2
38
2197
4
4

In [53]:
udemy_df['level'].unique()

array(['All Levels', 'Intermediate Level', 'Beginner Level',
       'Expert Level'], dtype=object)

In [54]:
udemy_df['subject'].unique()

array(['Business Finance', 'Graphic Design', 'Musical Instruments',
       'Web Development'], dtype=object)

In [55]:
udemy_df['price'].unique()

array([200,  75,  45,  95, 150,  65, 195,  30,  20,  50, 175, 140, 115,
       190, 125,  60, 145, 105, 155, 185, 180, 120,  25, 160,  40,   0,
       100,  90,  35,  80,  70,  55, 165, 130,  85, 170, 110, 135],
      dtype=int64)

In [3]:
udemy_df.to_excel("Data_PowerBI/udemy_courses.xlsx")